<landing-hero (search)="search($event)" />

@if (landingResource.error()) {
  <app-landing-error-state />
} @else if (landingResource.isLoading()) {
  <app-landing-sections-skeleton />
} @else if (landingResource.hasValue()) {
  @if (landingResource.value().documentTypes.length > 0) {
    <app-document-types-section [documentTypes]="landingResource.value().documentTypes" />
  }

  @if (landingResource.value().featuredDocuments.length > 0) {
    <app-featured-documents-section [documents]="landingResource.value().featuredDocuments" />
  }

  @if (landingResource.value().recentDocuments.length > 0) {
    <app-recent-documents-section [documents]="landingResource.value().recentDocuments" />
  }

  <app-landing-stats-section [stats]="landingResource.value().stats" />
}
