@media (prefers-reduced-motion: reduce) {
  .public-motion-safe,
  .public-motion-safe *,
  .p-animateonscroll {
    animation-duration: 1ms !important;
    animation-delay: 0ms !important;
    transition-duration: 1ms !important;
    scroll-behavior: auto !important;
  }

  .p-animateonscroll {
    opacity: 1 !important;
    transform: none !important;
  }
}
