<form [formGroup]="form" (ngSubmit)="save()">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-y-6 gap-x-4 pt-1">
    <div class="sm:col-span-3">
      <div class="flex flex-col gap-1">
        <p-floatlabel class="w-full" variant="on">
          <p-select
            [options]="types()"
            [filter]="true"
            emptyFilterMessage="Sin resultados"
            inputId="typeTxt"
            optionLabel="name"
            optionValue="id"
            [fluid]="true"
            appendTo="body"
            formControlName="typeId"
            [invalid]="formUtils.isInvalid(form.get('typeId'))"
          />
          <label for="typeTxt">Tipo de documento *</label>
        </p-floatlabel>
        @if (formUtils.isInvalid(form.get('typeId'))) {
          <p-message severity="error" size="small" variant="simple">
            {{ formUtils.getErrorMessage(form.get('typeId')) }}
          </p-message>
        }
      </div>
    </div>
    <div class="sm:col-span-3">
      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <textarea
            pTextarea
            id="summary_txt"
            rows="5"
            [fluid]="true"
            formControlName="summary"
            [invalid]="formUtils.isInvalid(form.get('summary'))"
          ></textarea>
          <label for="summary_txt">Resumen *</label>
        </p-floatlabel>
        @if (formUtils.isInvalid(form.get('summary'))) {
          <p-message severity="error" size="small" variant="simple">
            {{ formUtils.getErrorMessage(form.get('summary')) }}
          </p-message>
        }
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <p-inputnumber
          formControlName="correlativeNumber"
          inputId="correlativeTxt"
          [autocomplete]="'off'"
          mode="decimal"
          [useGrouping]="false"
          [fluid]="true"
          [min]="1"
          [invalid]="formUtils.isInvalid(form.get('correlativeNumber'))"
        />

        <label for="correlativeTxt">Correlativo *</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get('correlativeNumber'))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get('correlativeNumber')) }}
        </p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <p-datepicker
          inputId="yearInput"
          view="year"
          dateFormat="yy"
          showIcon
          iconDisplay="input"
          appendTo="body"
          formControlName="year"
          [fluid]="true"
          dataType="string"
          [invalid]="formUtils.isInvalid(form.get('year'))"
        />
        <label for="yearInput">Gestión</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get('year'))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get('year')) }}
        </p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <p-select
          inputId="status_select"
          [options]="documentStatusOptions"
          formControlName="status"
          optionValue="value"
          optionLabel="label"
          placeholder="Estado"
          class="w-full"
        />
        <label for="status_select">Estado de publicación</label>
      </p-floatlabel>
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <p-datepicker
          inputId="promulgationTxt"
          showIcon
          iconDisplay="input"
          appendTo="body"
          [fluid]="true"
          formControlName="promulgationDate"
          [invalid]="formUtils.isInvalid(form.get('promulgationDate'))"
          [maxDate]="form.get('publicationDate')?.value"
        />
        <label for="promulgationTxt">Fecha promulgacion</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get('promulgationDate'))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get('promulgationDate'), customFormErrorMessages) }}
        </p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <p-datepicker
          inputId="publicationTxt"
          showIcon
          iconDisplay="input"
          appendTo="body"
          [fluid]="true"
          formControlName="publicationDate"
          [invalid]="formUtils.isInvalid(form.get('publicationDate'))"
        />
        <label for="publicationTxt">Fecha publicacion *</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get('publicationDate'))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get('publicationDate')) }}
        </p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <p-datepicker
          inputId="validUntilTxt"
          showIcon
          iconDisplay="input"
          appendTo="body"
          [fluid]="true"
          formControlName="validUntil"
          [minDate]="form.get('publicationDate')?.value"
          [invalid]="formUtils.isInvalid(form.get('validUntil'))"
        />
        <label for="validUntilTxt">Plazo de vigencia</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get('validUntil'))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get('validUntil'), customFormErrorMessages) }}
        </p-message>
      }
    </div>
  </div>

  <p-fileUpload
    [auto]="false"
    [multiple]="false"
    [showCancelButton]="false"
    [showUploadButton]="false"
    accept="application/pdf"
    styleClass="mt-6"
    (onSelect)="selectFile($event)"
  >
    <ng-template #header let-files let-chooseCallback="chooseCallback">
      <div class="flex flex-wrap justify-between items-center flex-1">
        <span class="font-medium">Archivo</span>
        <p-button
          (onClick)="chooseCallback()"
          [outlined]="true"
          size="small"
          label="Seleccionar"
          icon="pi pi-upload"
          type="button"
        />
      </div>
    </ng-template>
    <ng-template #content let-files>
      @if (files?.length > 0) {
        @let file = files[0];
        <div class="flex items-center gap-x-4 mt-5 p-2">
          <i class="pi pi-file-pdf text-red-500" style="font-size: 1.5rem"></i>
          <div class="flex flex-col min-w-0">
            <span class="text-sm font-medium truncate">
              {{ file.name }}
            </span>
            <span class="text-xs text-surface-500">
              {{ file.size | fileSize }}
            </span>
          </div>
        </div>
      } @else if (data?.file?.url) {
        @let file = data!.file;
        <div class="flex items-center gap-x-4 p-2">
          <i class="pi pi-file-pdf text-red-500" style="font-size: 1.5rem"></i>
          <div class="flex flex-col min-w-0">
            <span class="text-sm font-medium truncate">
              {{ file.name }}
            </span>
            <span class="text-xs text-surface-500">
              {{ file.size | fileSize }}
            </span>
          </div>
        </div>
      } @else {
        <div class="text-center mt-5 p-2">
          <span class="text-sm text-surface-500 font-medium">
            <i class="pi pi-upload mr-2"></i>
            Seleccione o arrastre el documento PDF aquí
          </span>
        </div>
      }
    </ng-template>
  </p-fileUpload>

  <div class="p-dialog-footer">
    <p-button label="Cancelar" severity="secondary" (onClick)="close()" />
    <p-button type="submit" label="Guardar" />
  </div>
</form>
